body {
    padding: 0;
    margin: 0;
}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #FFFFFF;
}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #e24429;
}

input, textarea {
    width: 60%;
    padding: 8px;
    color: black;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #FFFF00;
    background-color: #66FFFF;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    height: 120px;
    line-height: 20px;
}

form label {
    margin-left: 20px;
    color: #e24429;
    font-weight: bold;
}

/* Estilo para o layout em três colunas */
.column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
    box-sizing: border-box;
}

/* Limpa a flutuação após as colunas */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Estilo para o fieldset */
fieldset {
    border: 2px solid #ccc;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo para os campos de entrada */


/* Estilo para as labels */
label {
    display: block;
    margin-bottom: 5px;
}

.container {
    width: 100%;
}

.divDireita {
    float: right;
}