body {
    padding: 0;
    margin: 0;
    width: 100%;
    padding: 0% 5%;
    box-sizing: border-box;
}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #FFFFFF;
}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #e24429;
}

input, textarea {
    width: 60%;
    padding: 8px;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid rgb(236, 233, 233);
    box-shadow: 4px 8px 15px 1px rgba(0, 0, 0, 0.2);
}

input:hover, textarea:hover, input:focus, textarea:focus {
    background-color: rgb(247, 243, 243);
    color: black;
    font-weight: bold;
}


textarea {
    height: 120px;
    line-height: 20px;
}

form label {
    color: #e24429;
    margin: 10px 0px;
    display: block;

}

/* Estilo para o layout em três colunas */
.column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
    box-sizing: border-box;
}

/* Limpa a flutuação após as colunas */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Estilo para o fieldset */
fieldset {
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo para os campos de entrada */


/* Estilo para as labels */
.container {
    width: 100%;
}

.divDidireita {
    float: right;
}

.enviar {
    background-color: #E24429;
    height: 40px;
    width: 170px;
    font-weight: bold;
    border-radius: 30px;
    color: white;
}


.foto_cadastro {
    margin-top: 30px;
    border-radius: 10%;
}

.editando{

}

.salvo{

}